# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
divine_venv/
.env/
.venv/

# Gradio files
gradio_cached_examples/
flagged/

# Logs
*.log

# Environment variables
.env

# IDE files
.vscode/
.idea/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db

# Jupyter Notebook
.ipynb_checkpoints

# Temporary files
*.bak
*.tmp 